/* Rooms.css */

.room-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.room-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.room-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.room-card h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.room-card p {
  margin: 0;
  font-size: 16px;
  color: #666;
}

.room-card span {
  font-weight: bold;
  color: #333;
}
